body {
    text-align: center;
}
.TABLE {
  width: 50%;
  margin: 0 auto;
}

.FORM {
    width: 40%;
    margin: 0 auto;
}
.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: DarkSalmon;
  color: white;
}